.custom-radius{
    border-top-left-radius: 0rem;   /* Góc trên bên trái */
    border-top-right-radius: 1rem;  /* Góc trên bên phải */
    border-bottom-left-radius: 1rem; /* Góc dưới bên trái */
    border-bottom-right-radius: 1rem;
}