.DraftEditor-root {
  width: 22rem;
  max-height: 200px;
  .public-DraftEditorPlaceholder-root {
    width: 22rem;
    .DraftEditor-editorContainer {
      .public-DraftEditor-content {
      }
    }
  }
}
.public-DraftStyleDefault-ltr {
  width: 22rem;
  font-size: 16px;
}
